# Data science tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.


Some of the popular languages that Data Scientists use are

  1.SQL 
  2.R 
  3.Python
  4.Java
  5.julia
  6.MATLAB

Some of the commonly used libraries used by Data Scientists include:
  
  1.Pandas
  2.NumPy
  3.SciPy 
  4.Matplotlib
  5.Seaborn
  6.TensorFlow
  7.PyTorch
  8.Scikit-Learn
  9.Librosa
  10.Keras

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Anaconda|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

  _Objectives_
* List Popular Languages for Data Science
* List Popular libraries for Data Science
* List of most common  Data Science tools
* How to Change Heading Style 
* Know about how to run  Mathematical and arithmetical expression

## Author


Rahul Acharya